body {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Form container styles*/

.container {
    min-width: 450px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 100vh;
}


/* Form heading styles */

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


/* Input field styles */

.input-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.input-row {
    display: flex;
    /* justify-content: space-between; */
}

label {
    flex: 1;
    font-weight: bold;
    margin-bottom: 5px;
}

.label-container {
    /* display: inline-block; */
    text-align: left;
    width: 100px;
    font-size: 18px;
    color: #333;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    flex: 2;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Gender styles*/

.gender-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.gender-options {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.gender-options label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    text-decoration: none;
    font-weight: 100;
    margin-bottom: 0px;
}


/* Radio button and checkbox styles */

input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.1);
    margin-bottom: 2px;
}


/* button styles */

#submit {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

#submit:hover {
    background-color: #555;
}

#reset {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

#reset:hover {
    background-color: #555;
}


/* PopUps styles */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    min-width: 45%;
    flex-direction: column;
}

.popup-content h3 {
    text-align: center;
}

.popup-content ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.popup-content ul li {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}


/* PopUp close style */

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #ffffff;
    /*cornflowerblue*/
    background-color: transparent;
    border: none;
    cursor: pointer;
}